.dropdown-conteiner {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}

.dropdown {
    display: inline-block;
}

.marked {
    width: 50px;
    padding: 15%;
    display: block;
    margin-top: 5px;
}



.dropdown-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 1px black;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.flag-conteier {
    display: flex;
    flex-direction: column;
    gap: .5px;
    margin-bottom: 2px;
    justify-self: center;

}

.dropdown-menu img {
    display: block;
}

.flag {
    padding: 10px;
    width: 50px;
}