.conteiner-lang {
    width: 88%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.logoBtnConteiner {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}

.logo {
    cursor: pointer;
}

.selected {
    transform: scale(1.1);
}

.logopic {
    width: 40px;
}