.footer {
    align-items: center;
    background-color: #603a17;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    overflow: visible;
    padding: 52px;
    position: relative;
    width: 100%;
    gap: 15px;

}

.general-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.pet-signature {
    cursor: pointer;
    font-family: Inter, Inter Placeholder, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    color: rgb(230, 230, 230);
    width: 100%;
    text-align: center;

}

a {
    color: white;
    text-decoration: none;
}

.copy {
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}

.copy-text {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    color: rgb(230, 230, 230);
}

.social-media-conteiner {
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}

.insta-conteiner .mail-conteiner {
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}

.social-text {
    font-family: Inter, Inter Placeholder, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    color: rgb(255, 255, 255);
}

@media screen  and (max-width: 1024px) {

    .general-conteiner {
        width: 80vw;
    }
    .footer{
        width: 102%;
    }
}

@media screen and (max-width: 540px) {
    .footer{
        height: fit-content;
    }
    .general-conteiner{ 
        width: 60vw;
    }

}

@media screen and (max-width: 500px) {
    .footer{
        height: fit-content;
    }
    .general-conteiner{ 
        width: 80vw;
    }

}