.link {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    color: rgb(102, 102, 102);
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;

    flex: none;
    height: auto;
    position: relative;
    user-select: none;
    white-space: pre;
    width: auto;
}

.link p {
    font-family: Inter, Inter Placeholder, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    letter-spacing: ng, 0;
    text-transform: rm, none;
    text-decoration: ion, none;
    line-height: 1.2em;
    text-align: nt, start;
    cursor: pointer;
}