.main {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.contentConteiner {
  box-sizing: border-box;
  min-height: 100vh;
  width: auto;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: relative;
  max-width: 100vw;
  margin: auto;
}