.TagContainer {
    display: flex;
    justify-content: space-between;
}

.Tag {
    display: inline-block;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.TagContainer:hover {
    cursor: pointer;
}