.NavConteiner {
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
}

.navigation {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 38px;
    height: 64px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
}

.textConteiner {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 10px 0 10px 10px;
    position: relative;
    width: min-content;
}

.navigationButtons {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.link {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    color: rgb(102, 102, 102);
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;

    flex: none;
    height: auto;
    position: relative;
    user-select: none;
    white-space: pre;
    width: auto;
}

.links p {
    font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);
    font-style: var(--framer-font-style, normal);
    font-weight: var(--framer-font-weight, 400);
    color: var(--framer-text-color, #000);
    font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));
    letter-spacing: var(--framer-letter-spacing, 0);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    line-height: var(--framer-line-height, 1.2em);
    text-align: var(--framer-text-alignment, start);
}

.divider {
    bottom: 0;
    flex: none;
    height: 1px;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.08);
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
}