.NavConteiner {
    flex: none;
    height: auto;
    position: relative;
    width: 100vw;
}

.navigation {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 38px;
    height: 64px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
}

.textConteiner {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 10px 0 10px 10px;
    position: relative;
    width: min-content;
}

.navigationButtons {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 10px 0 10px 10px;
    position: relative;
    width: min-content;
}

.divider {
    bottom: 0;
    flex: none;
    height: 1px;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.08);
    transform: none;
    transform-origin: 50% 50% 0px;
    opacity: 1;
}