.slider {
    max-width: 100%;
    margin: 0 auto;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    display: flex;
}

.item {
    display: flex;
    justify-content: center;

    min-height: 200px;
    min-width: 400px;
    padding: 14px;

}

.item img {
    width: 100%;
    pointer-events: none;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    width: 400px;
}


@media screen and (max-width: 395px) {
    .item {
        min-width: 100vw;
    }
}